tensorflow-macos==2.7.0; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow==2.7.0; sys_platform == 'darwin' and 'ARM' not in platform_version
tensorflow==2.7.0; sys_platform != 'darwin'
numpy
pandas
scikit-learn
nibabel
opencv-python
python-multipart

fastapi         # API framework
uvicorn         # Web server
